pkgbase = doned
	pkgdesc = Send notifications to Discord, Telegram, Google Chats, Teams, and Slack from the command line.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/JRCLARK25/doned
	arch = any
	license = GPL2
	depends = bash
	depends = curl
	source = doned::https://github.com/JRCLARK25/doned/raw/main/discord-notifier/usr/bin/doned
	source = notify-discord::https://github.com/JRCLARK25/doned/raw/main/discord-notifier/usr/bin/notify-discord
	source = README.md::https://raw.githubusercontent.com/JRCLARK25/doned/main/README.md
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = doned
